// font-family
$fontPrincipal: Roboto, sans-serif;

// variaveis de cor
$menuCor: #f5f6fa;
$corDaTela: #7d8890;
$corPrincipal: #130f40;
$corSecundaria: #44bd32;
$corHoverBtn: #2f9f1d;

// font e padding
$fontBold: bold;
$padPhone: 38px 0;