*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgb(228, 225, 222);
}

header {
    background-color: #201c1c;
    padding: 16px;
    color: #fff;
}

header .container,
.container .destaque {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .destaque img {
    width: 370px;
    margin-right: 40px;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

h1, h2 {
    font-style: italic;
}

.container .destaque {
    align-items: flex-start;
}

section .container h2 {
    padding-bottom: 22px;
    border-bottom: 2px solid #332d2d;
}

.destaque,
section .container {
    padding: 24px 0;
    margin-bottom: 20px;
}

.destaque h2 {
    padding-bottom: 22px;
    border-bottom: 2px solid #332d2d;
}

.destaque .top {
    margin-top: 52px;
}

.container-flex {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1.3%;
    margin-top: 46px;
    align-items: center;
    list-style: none;
}

.container-flex img {
    width: 100%;
}

.container-flex button {
    background-color: #285bb8;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 6px;
    cursor: pointer;
}

.container-flex button:hover {
    background-color: #3e69b9;
}

.container-flex p {
    font-size: 12px;
    padding: 12px 0;
}

@media screen and (max-width: 767px) {
    .container-flex {
        display: block;
    }
    
    .container {
        max-width: 80%;
    }

    header {
        width: 100%;
    }

    header .container,
    .container .destaque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .container .destaque img {
        width: 100%;
        margin-right: 0px;
    }

    .container .destaque {
        display: block;
    }

    .destaque,
    section .container  {
        padding: 24px 0;
        margin-bottom: 20px;
    }

    .container-flex {
        margin-top: 2px;
    }

    .container-flex img {
        width: 100%;
        margin-top: 40px;
    }

    .container-flex p {
        font-size: 12px;
        padding: 6px 0;
    }

    .container-flex p {
        font-size: 16px;
        padding: 12px 0;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .container,
    section .container {
        max-width: 80%;
        left: 0;
    }

    .container .destaque {
        display: block;
    }

    .container .destaque img {
        width: 100%;
        border-radius: 2px;
        padding: 4px;
        margin-bottom: 2em;
    }

    .container-flex {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        column-gap: 2%;
    }

    .container-flex .final {
        margin-top: 30px;
    }

    .container-flex p {
        font-size: 16px;
    }

    .container .destaque img {
        margin-right: 0px;
    }
}
