@corDeFundo: #103d68;
@bodyColor: #122438;
@fontPrincipal: 'Open Sans', sans-serif;
@corDoTexto: #fff;
@corBtn: rgb(6, 82, 6);

body {
    max-width: 400px;
    text-align: center;
    margin: 50px auto;
    background-color: @bodyColor;
    
    main {
        background-color: @corDeFundo;
        color: @corDoTexto;
        font-family: @fontPrincipal;
        border-radius: 8px;


        input {
            display: block;
            border: none;
            width: 100%;
            max-width: 250px;
            margin: 8px auto;
            border-radius: 8px;
            padding: 8px;
        }

        button {
            cursor: pointer;
            padding: 8px;
            background-color: @corBtn;
            color: @corDoTexto;
            font-weight: bold;
            border: none;
            border-radius: 4px;
        }
    }
    
}