main {
  max-width: 400px;
  text-align: center;
  margin: 50px auto;
}
main body {
  background-color: #3814a1;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
main body input {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 8px auto;
  border-radius: 8px;
  padding: 10px;
}
